[submodule "libs/stub/qq-stub"]
	path = libs/stub/qq-stub
	url = https://github.com/LuckyPray/qq-stub
[submodule "libs/dexkit/DexKit"]
	path = libs/dexkit/DexKit
	url = https://github.com/LuckyPray/DexKit
[submodule "libs/Dobby"]
	path = libs/Dobby
	url = https://github.com/LSPosed/Dobby
	shallow = true
[submodule "libs/LSPlant"]
	path = libs/LSPlant
	url = https://github.com/LSPosed/LSPlant
	shallow = true
